@{
  //  ViewBag.Title = "ReminderDiv";
}

 <div id="div_reminder_alert" class="alert alert-warning alert-dismissible my_alert" style="display: none;" role="alert">
            <button type="button" class="close" ><span aria-hidden="true">&times;</span></button>
            <div id="annotation"></div>
        </div>
