@{
    Layout = "_LayoutClient";
}
<input type="text" id="client_serial" />

<div class="container">
    <div class="float-right">
        <div class="row">
            <div class="col-md-2 ">
                <div class="my_lable">שם מלא</div>
                <div class="my_lable">תעודת זהות</div>
                <div class="my_lable">כתובת</div>
                <div class="my_lable">עישון</div>
                <div class="my_lable">תאריך לידה</div>
                <div class="my_lable"> סטוטס</div>

            </div>
            <div class="col-md-10 ">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr class="my_header">
                                <th>תאריך</th>
                                <th>תקציר השיחה &nbsp <input type="text" class="black_text" id="table_conversation_comment" size="10" onkeyup="filter_my_table('table_conversation')" /></th>
                                <th>מטרת השיחה</th>
                                <th>שם מטפל</th>
                                <th>סטוטס</th>
                                <th>מ.פוליסה</th>

                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- </form>  -->
<!--
<$- include("./edit_template") $>

<$- include("./edit_client") $>

<$- include("./details_client") $>
<$- include("./client_list") $>

<$- include("./template_list") $>

<$- include("../conversation/edit_conversation") $>
<$- include("../conversation/conversation_list") $>
<$- include("../conversation/conversation_from_meeting_list") $>

<$- include("../conversation/conversations_and_followup") $>
<$- include("../conversation/conversations_filtering") $>
<$- include("../conversation/conversation_filtering_list") $>

<$- include("../followup_conversation/edit_followup_conversation") $>
<$- include("../followup_conversation/followup_conversation_list") $>

<$- include("../life_police/edit_life_police") $>
<$- include("../life_police/life_police_list") $>
<$- include("../life_police/police_xml") $>
<$- include("../life_police/all_police_xml") $>
<$- include("../life_police/yitrot_le_tekupa_list") $>
<$- include("../life_police/ricuz_police") $>
<$- include("../life_police/pirtei_kisui_be_mutzar") $>



<$- include("../documents/edit_documents") $>
<$- include("../documents/documents_list") $>

<$- include("../communication/edit_communication") $>
<$- include("../communication/communication_list") $>

<$- include("../kupa_gemel/edit_kupa_gemel") $>
<$- include("../kupa_gemel/kupa_gemel_list") $>

<$- include("../meeting/edit_meeting") $>
<$- include("../meeting/meeting_list") $>

<$- include("../searching/searching") $>

<$- include("../families/families_list") $>
<$- include("../families/edit_families") $>

<$- include("../family_members/family_members_list") $>
<$- include("../family_members/edit_family_members") $>
<$- include("../family_members/family_members_for_client_details") $>

    !-->
