@{

    <title>@ViewBag.Title</title>

}


<!DOCTYPE html>
<html dir="rtl">
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap3-typeahead.min.js"></script>
    <script src="~/js/base_functions.js"></script>

    <script type="text/javascript" language="javascript">    </script>

</head>
<body>
    <div style="margin:15px 10px;">
        חיפוש &nbsp
        <input class="typeahead " style="width:200px;" type="text" />
    </div>
    <button><span class="glyphicon glyphicon-search"></span>Search</button>
    <!--     <nav class="navbar navbar-default navbar-fixed-top  " role="navigation"> !-->
    <nav class="navbar  pull-right" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav font_white navbar-right">
                <form class="navbar-form navbar-left" action="">
                    <div class="form-group">
                        <li>  <input type="button" class="menu_bottun" id="hide_show_client_details" value="פרטי לקוח" /></li>
                    </div>
                </form>
                <li> <a href="/">    ראשי    </a> </li>
               
                <li class="nav-item"><a href="javscript:void(0)" avi-menu="conversation">שיחות </a></li>
                <li><a href="javscript:void(0)" avi-menu="my_meeting">פגישות</a></li>
                <li><a href="javscript:void(0)" avi-menu="policy">פוליסות </a></li>
                <li><a href="javscript:void(0)" avi-menu="kupa">גמל</a></li>
                <li><a href="javscript:void(0)" avi-menu="documents">מסמכים</a></li>
                <li><a href="javscript:void(0)" avi-menu="search">חיפוש</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">תיק לקוח <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javscript:void(0)" avi-menu="police_reort_menu">דוח ביטוחים</a></li>
                        <li><a href="javscript:void(0)" avi-menu="hishtalmut_menu">דוח קרנות השתלמות</a></li>
                        <li><a href="javscript:void(0)" avi-menu="kizui_be_mutzar_menu">כיסויים בפוליסה </a></li>
                        <li><a href="javscript:void(0)" avi-menu="yitrot_le_tkupa_menu">יתרות לפי תקופה</a></li>
                        <li><a href="javscript:void(0)" avi-menu="kupa_menu">צפי קצבאות</a></li>

                    </ul>
                </li>
            </ul>
            <!--   <h2 id="full_name" ></h2>  -->
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Insur17</p>
        </footer>
    </div>


</body>
</html>

